{% extends 'layouts/main.html' %}

{% block header%}
<a href="/users" class="back__link">
    <- Back</a>
        <h1 class="page__title">Update your info</h1>
        {% endblock %}

        {% block content %}
        <form action="/users/{{ id }}" method="post" class="form">
            <input name="_METHOD" type="hidden" value="PATCH">
            <div class="container__top">
                <div class="container__top-left">
                    <h2 class="name__title">Your name</h2>
                    <label>First name:
                        <input name="first_name" type="text" value="{{ user.first_name }}">
                    </label>
                    {% if errors.first_name is not empty %}
                        <span class="error">{{ errors.first_name }}</span>
                    {% endif %}
                    <label>Last name:
                        <input name="last_name" type="text" value="{{ user.last_name }}">
                    </label>
                    {% if errors.last_name is not empty %}
                        <span class="error">{{ errors.last_name }}</span>
                    {% endif %}
                </div>
                <div class="container__top-right">
                    <h2 class="hobbies__title">Your hobbies</h2>
                    <ul class="hobbies__list-form">
                        <li>
                            <label>
                                <input type="checkbox" name="hobbies[soccer]" value="Soccer" {{ user.hobbies.soccer is not empty ? 'checked' : '' }}>
                                Soccer
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="hobbies[skate]" value="Skate" {{ user.hobbies.skate is not empty ? 'checked' : '' }}>
                                Skate
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="hobbies[php]" value="PHP" {{ user.hobbies.php is not empty ? 'checked' : '' }}>
                                PHP
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="hobbies[js]" value="JavaScript" {{ user.hobbies.js is not empty ? 'checked' : '' }}>
                                JavaScript
                            </label>
                        </li>
                    </ul>
                    {% if errors.hobbies is not empty %}
                        <span class="error__hobbies">{{ errors.hobbies }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="container__buttons">
                <button type="submit" class="form__button">Update</button>
            </div>
        </form>
        {% endblock %}